[submodule "ConcurrentUtil"]
	path = ConcurrentUtil
	url = https://github.com/Spottedleaf/ConcurrentUtil.git
[submodule "YamlConfig"]
	path = YamlConfig
	url = https://github.com/Spottedleaf/YamlConfig.git
